/* POPUP VIDEO */

#aibuy_popup_container {
    /*color: #23282d;
    font-weight: 600;
    font-size: 16px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    table-layout: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;*/
    display:none;
}

.aibuy_popup {
    position: fixed;
    display: block;
    top: 30%;
    margin: 0 auto;
    left: 50%;
    z-index: 1100;
    margin-left: -220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.aibuy_popup input {
    font-size: 16px;
}

.aibuy_popup .aibuy_popup_form {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #e6e6e6;
    border: 3px solid #fff;
    text-align: left;
}

.aibuy_popup .aibuy_popup_form h3 {
    margin-top: 0;
    text-align: center;
}

.aibuy_popup_form .field_container {
    margin: 5px;
}

.aibuy_popup .field_container .input_number {
    max-width: 75px;
    text-align: center;
}

.aibuy_popup .field_container .input_url {
    min-width: 295px;
}

.aibuy_popup .button_container {
    text-align: right;
}

.aibuy_popup label {
    display: inline-block;
    min-width: 85px;
}

.aibuy_popup .aibuy_popup_close {
    position: absolute;
    right: 0;
    top: -4px;
    display: inline-block;
    font-size: 20px;
    padding: 3px;
    color: #545454;
    cursor: pointer;
}

.aibuy_popup_form .form_error {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: 19px;
}